<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<% article.comments.forEach(function(comment, i) { %>
  <div class="comment">
    <p id=comment-name><%= article.comments[i].name %> says:</p>
    <p><%= article.comments[i].content %></p>

  </div>
<% }) %>

<a href="/">&larr; Back Home</a>
